// import angular material
@import (inline) '../../bower_components/angular-material/angular-material.css';

@grey: #CCC;

.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}

.md-menu-left-list {
  min-height: 30px !important;
}

.md-medium-tall{
  height: 30px;
  min-height: 30px !important;
  max-height: 30px !important;
  background: @grey;
}
